@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Libre Franklin', sans-serif;
}

.flexy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

body {
    min-height: 100vh;
    background-color: #f0f0f0;
}


/* MAIN SECTION  */

.main {
    font-size: 1.25rem;
}

.container {
    max-width: 44rem;
    text-align: center;
    padding: 0 10%;
    background-color: #fff;
    color: hsl(0, 0%, 59%);
}

.logo {
    margin-top: 3rem;
}

.title {
    margin: 2rem 0 1rem;
    font-weight: 300;
}

.evidence {
    color: hsl(209, 33%, 12%);
    font-weight: 700;
}

.description {
    margin-bottom: 2rem;
    font-weight: 600;
    color: hsla(208, 31%, 12%, 0.774);
}


/* .title,
.description {
    color: hsl(0, 0%, 59%);
} */

.cont_sub {
    width: 100%;
    margin-bottom: 3rem;
    position: relative;
}

.cont_sub.flexy {
    align-items: baseline;
}

.label {
    font-size: 0.8rem;
    display: none;
    font-weight: 600;
    left: 0;
    text-align: left;
    margin: 0.5rem 0 0 2rem;
}

input {
    border-radius: 10rem;
    padding: 1rem 2rem;
    border: none;
    font-size: 1rem;
    box-sizing: border-box;
}

.cont_email {
    width: 71%;
    margin-right: 2%;
}

input[type=text] {
    width: 100%;
    /*   width: 71%;
    margin-right: 2%; */
    font-weight: 600;
    color: #2d3035;
    border: 1px solid hsl(223, 100%, 88%);
}

input[type=text]:focus-visible {
    outline: 1.5px solid hsl(223, 48%, 67%);
    transition: 0.2s;
}

input[type=submit]::placeholder {
    color: hsl(223, 100%, 88%);
}

input[type=submit] {
    color: #fff;
    font-weight: 700;
    background-color: hsl(223, 87%, 63%);
    width: 27%;
    box-shadow: 3px 3px 6px 2px rgb(0 0 0 / 50%);
}

input[type=submit]:hover {
    box-shadow: 1.5px 1.5px 4px 2px rgb(0 0 0 / 50%);
    transition: 0.3s;
    background-color: #6484db;
    cursor: pointer;
}

.clicked {
    box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 50%) !important;
    background-color: #7195f5 !important;
}

.wrong {
    border: 1.5px solid hsl(354, 100%, 66%) !important;
}

.right {
    border: 1.5px solid #2dcc70 !important;
}

.illustration {
    width: 100%;
}

.cont_social {
    margin: 4rem 0 2rem;
}

.fa-brands {
    width: 0.65rem;
    height: 0.65rem;
    padding: 0.7rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid hsla(0, 0%, 59%, 0.78);
    color: #4a7dfa;
}

.fa-brands:hover {
    color: #fff;
    background-color: hsl(223, 87%, 63%);
    transition: 0.3s;
}

.fa-twitter {
    margin: 0 1rem;
}

.copy {
    font-weight: 300;
    margin-bottom: 2rem;
    font-size: 0.9rem;
}


/* FOOTER SECTION  */

.attribution {
    font-size: 0.7rem;
    text-align: center;
    margin: 2rem 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: 0.8rem;
}

@media screen and (max-width: 740px) {
    .row {
        flex-direction: column;
    }
    .container {
        max-width: 99vw;
        padding: 1rem;
    }
    .title {
        font-size: 1.8rem;
    }
    .description {
        font-size: 1.1rem;
    }
    .cont_email,
    .submit {
        width: 90% !important;
        margin: 0.5rem 0 !important;
    }
    .cont_sub {
        margin-bottom: 4rem;
    }
    .cont_sub.flexy {
        align-items: center;
    }
    .label {
        text-align: center;
        margin-bottom: 0.8rem;
    }
    .cont_social {
        margin-top: 7rem;
    }
}